@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Titillium+Web&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.mainDiv {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;   
    background-color: #e71010;
    justify-content: center;
}

.header > h1 {
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 48px;
    text-shadow: black 2px 2px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgLogo {
    width: 7.5rem;
}

#imgLogo:hover {
    cursor: pointer;
}

.pedidos-section {
    display: flex;
    height: 82.6vh;
    margin-top: 1rem;
    border-radius: 2px;
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: rgb(15, 15, 15);
    justify-content: center;
}

h1 {
    color: white;
}

a {
    color: yellow;
}

label {
    color: white;
}

input {
    margin: 50px auto;
    max-width: 300px;
}

input[type="text"] {
    margin: 0.3125rem;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #fffb00; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgb(255, 0, 0); /* Sombra ao focar */
}

button {
    background-color: #FFD700;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
    margin-top: 10px;
}

button:hover {
    background-color: #FFC100; /* Cor de destaque ao passar o mouse */
}