<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/home.css">
    <title>Home</title>
</head>
<body>
    <div class="mainDiv">
        <div class="header">
            <img id="imgLogo" src="https://i.pinimg.com/originals/89/3e/b9/893eb9b2ff54f3da0685196b86758f4e.png" alt="">
            <h1>Bem vindo</h1>
        </div>  
        <div class="cards-section">
            <div class="card-pedido" onclick="window.location.href='/pedido'">
                <h2>Novo Pedido</h2>
            </div>
            <div class="card-pedidos" onclick="window.location.href='/pedidos'">
                <h2>Pedidos</h2>
            </div>
        </div>
    </div>
</body>
</html>